In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt

%matplotlib inline 
import warnings                        # To ignore any warnings warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('Terragon Data-2.csv')
data

,msisdn,location_region,location_state,location_lga,location_city,device_manufacturer,os_name,os_version,spend_total,spend_vas,...,xtra_data_talk_rev,customer_class,customer_value,gender,age,device_type,ad_id,ad_name,@timestamp,event_type
0,9f2b90348e1fa4c9d5eef6084d7925a8,North West,kaduna,sabon gari,NaN,infinix,android,unspecified,2671.080000,0.0,...,0.0,44.0,high,M,26.0,Smartphone,/110/1255/1333,doubble_june13 SMS,2019-07-01T11:12:53.000Z,Click
1,74ef852a6cc33c6ef01184cd5c47fd56,South East,imo,owerri west,NaN,tecno,android,unspecified,5094.377000,220.0,...,500.0,49.0,high,M,33.0,Smartphone,/110/1276/1353,doubble_june15_tot4k SMS,2019-07-23T21:54:55.000Z,Click
2,e2445a2130ae4afddcd4d4932635b2dc,NaN,NaN,NaN,NaN,tecno,android,unspecified,7135.586500,0.0,...,0.0,44.0,very high,M,27.0,Smartphone,/110/1355/1438,doubble_july4_8_adcopy2 SMS,2019-10-15T07:22:26.000Z,Click
3,e723bb7947e52fdc65ca8272045c38f6,South West,lagos,apapa,NaN,asus,android,7.1,100.000000,0.0,...,0.0,49.0,low,M,53.0,Smartphone,/110/1348/1428,doubble_july1_5 SMS,2019-07-23T20:47:20.000Z,Click
4,9f8b2f8954312bf618ec901ac6c709f7,NaN,NaN,NaN,NaN,tecno,android,unspecified,202.450000,60.0,...,0.0,44.0,low,M,51.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-26T11:36:45.000Z,Click
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95263,d40367ecae834270705728dc0fbda71f,South West,lagos,ikorodu,NaN,tecno,android,7.0,136.080000,0.0,...,0.0,46.0,low,M,61.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:59:36.000Z,sms
95264,86b5adbcc671e86a48d06acacfe35cc6,South West,lagos,ikorodu,NaN,nokia,android,unspecified,5000.355000,0.0,...,0.0,46.0,high,M,37.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:59:42.000Z,Click
95265,4a1a3002cc8ea1ff43e329123d9a5ab0,South West,lagos,ikorodu,NaN,samsung,android,4.4.2,3494.362695,270.0,...,0.0,186.0,high,NaN,24.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:59:57.000Z,sms
95266,3b5ba123c8171480b93055751de7d8d3,South West,lagos,ikorodu,NaN,tecno,android,unspecified,5899.845000,1300.0,...,0.0,46.0,very high,M,31.0,Smartphone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T16:59:59.000Z,sms
95267,cc86ab14fe303ad0c2fec049dc392297,South West,lagos,ikorodu,NaN,bontel,proprietary os,unspecified,1464.325000,NaN,...,NaN,46.0,medium,M,NaN,Feature Phone,/110/1359/1443,doubble_july8_12 SMS,2019-07-09T17:00:08.000Z,sms

In [4]:
data.describe()

,location_city,spend_total,spend_vas,spend_voice,spend_data,sms_cost,xtra_data_talk_rev,customer_class,age
count,0.0,9.356200e+04,79034.000000,79034.000000,79034.00000,79034.000000,79034.000000,93561.000000,77963.000000
mean,NaN,3.283865e+03,237.682036,1580.333400,355.66510,51.683677,45.958701,59.769274,37.156536
std,NaN,1.596830e+04,1756.512052,2465.606699,855.19025,172.755612,495.027138,65.823905,11.455693
min,NaN,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,20.000000,-80.000000
25%,NaN,2.998800e+02,0.000000,87.600000,0.00000,0.000000,0.000000,44.000000,29.000000
50%,NaN,1.518395e+03,20.000000,730.032500,0.00000,4.000000,0.000000,46.000000,36.000000
75%,NaN,3.888508e+03,220.000000,2059.607501,300.00000,46.487500,0.000000,46.000000,44.000000
max,NaN,2.070000e+06,352057.000000,69728.750000,25200.00000,27160.000000,23000.000000,1051.000000,1051.000000

In [5]:
# y includes our labels and x includes our features
#y = data.event_type                          # M or B 
list = ['msisdn','location_city','ad_id', 'ad_name','location_lga',
        'os_version','@timestamp']
data = data.drop(list,axis = 1 )
data

,location_region,location_state,device_manufacturer,os_name,spend_total,spend_vas,spend_voice,spend_data,sms_cost,xtra_data_talk_rev,customer_class,customer_value,gender,age,device_type,event_type
0,North West,kaduna,infinix,android,2671.080000,0.0,1911.440000,1050.0,68.0,0.0,44.0,high,M,26.0,Smartphone,Click
1,South East,imo,tecno,android,5094.377000,220.0,598.400000,0.0,24.0,500.0,49.0,high,M,33.0,Smartphone,Click
2,NaN,NaN,tecno,android,7135.586500,0.0,0.000000,0.0,0.0,0.0,44.0,very high,M,27.0,Smartphone,Click
3,South West,lagos,asus,android,100.000000,0.0,828.833339,0.0,0.0,0.0,49.0,low,M,53.0,Smartphone,Click
4,NaN,NaN,tecno,android,202.450000,60.0,89.800000,0.0,0.0,0.0,44.0,low,M,51.0,Smartphone,Click
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95263,South West,lagos,tecno,android,136.080000,0.0,673.800000,0.0,4.0,0.0,46.0,low,M,61.0,Smartphone,sms
95264,South West,lagos,nokia,android,5000.355000,0.0,1519.995000,0.0,118.0,0.0,46.0,high,M,37.0,Smartphone,Click
95265,South West,lagos,samsung,android,3494.362695,270.0,260.000000,2000.0,0.0,0.0,186.0,high,NaN,24.0,Smartphone,sms
95266,South West,lagos,tecno,android,5899.845000,1300.0,10293.200000,0.0,92.0,0.0,46.0,very high,M,31.0,Smartphone,sms
95267,South West,lagos,bontel,proprietary os,1464.325000,NaN,NaN,NaN,NaN,NaN,46.0,medium,M,NaN,Feature Phone,sms

## Addressing missing values and Outlier

In [6]:
data.isnull().sum()

location_region        11317
location_state         11317
device_manufacturer     2484
os_name                 3272
spend_total             1706
spend_vas              16234
spend_voice            16234
spend_data             16234
sms_cost               16234
xtra_data_talk_rev     16234
customer_class          1707
customer_value          1706
gender                  2574
age                    17305
device_type              971
event_type                 0
dtype: int64

#### Imputing missing values

In [7]:
data['location_region'].fillna('unspecified',inplace=True)
data['location_state'].fillna('unspecified',inplace=True)
data['os_name'].fillna(value='unspecified', inplace=True)
data['customer_value'].fillna(value='unspecified', inplace=True)
data['gender'].fillna(value='unspecified', inplace=True)
data['device_type'].fillna(value='unspecified', inplace=True)
data['device_manufacturer'].fillna(value='unspecified', inplace=True)

In [8]:
data['spend_total'].fillna(data['spend_total'].median(), inplace=True)
data['spend_vas'].fillna(data['spend_vas'].median(), inplace=True)
data['spend_voice'].fillna(data['spend_voice'].median(), inplace=True)
data['spend_data'].fillna(data['spend_data'].median(), inplace=True)
data['sms_cost'].fillna(value=0, inplace=True)
data['xtra_data_talk_rev'].fillna(data['xtra_data_talk_rev'].median(), inplace=True)
data['customer_class'].fillna(data['customer_class'].median(), inplace=True)

data['age'].replace(-70, 70,inplace=True)
data['age'].replace(-71, 71,inplace=True)
data['age'].replace(1051, 51,inplace=True)
data['age'].fillna(data['age'].median(), inplace=True)

In [9]:
data['event_type'].fillna(data['event_type'].mode()[0], inplace=True)

In [10]:
data['location_state'].value_counts()

lagos          14939
unspecified    11317
ogun            8790
rivers          4821
fct             3893
kano            3446
delta           3125
oyo             3090
kaduna          3087
kogi            2805
abia            2689
imo             2563
anambra         2456
osun            2125
edo             2115
enugu           1961
ondo            1693
bauchi          1416
katsina         1405
niger           1398
akwa ibom       1292
ekiti           1218
plateau         1182
borno           1172
kwara           1163
nassarawa       1146
benue           1041
cross river      947
adamawa          866
gombe            859
sokoto           848
yobe             803
taraba           734
kebbi            673
zamfara          627
ebonyi           534
jigawa           520
bayelsa          509
Name: location_state, dtype: int64

### Outliers

In [11]:
for j in data['age']:
    if j > 100:
        data['age'].replace(j,100,inplace=True)
    elif j < 12:
        data['age'].replace(j,11,inplace=True)

#### Categorical variables

In [12]:
for i in data['os_name']:
    if i == 'android':
        i = i
    elif i == 'proprietary os':
        i= i
    else:
        data['os_name'].replace(i,'others',inplace=True)

In [13]:
for j in data['device_manufacturer']:
    if j == 'tecno':
        j = j
    elif j == 'itel':
        j= j
    elif j == 'infinix':
        j= j
    elif j == 'samsung':
        j= j
    elif j == 'nokia':
        j= j
    elif j == 'apple':
        j= j
    else:
        data['device_manufacturer'].replace(j,'others',inplace=True)

In [13]:
for k in data['event_type']:
    if k == 'sms':
        data['event_type'].replace(k,0,inplace=True)
    else:
        data['event_type'].replace(k,1,inplace=True)

In [15]:
for l in data['location_state']:
    if l == 'lagos':
        l = l
    elif l == 'unspecified':
        l= l
    elif l == 'ogun':
        l= l
    elif l == 'rivers':
        l= l
    elif l == 'fct':
        l= l
    elif l == 'kano':
        l= l
    else:
        data['location_state'].replace(l,'others',inplace=True)

In [15]:
data['location_state'].value_counts()

lagos          14939
unspecified    11317
ogun            8790
rivers          4821
fct             3893
kano            3446
delta           3125
oyo             3090
kaduna          3087
kogi            2805
abia            2689
imo             2563
anambra         2456
osun            2125
edo             2115
enugu           1961
ondo            1693
bauchi          1416
katsina         1405
niger           1398
akwa ibom       1292
ekiti           1218
plateau         1182
borno           1172
kwara           1163
nassarawa       1146
benue           1041
cross river      947
adamawa          866
gombe            859
sokoto           848
yobe             803
taraba           734
kebbi            673
zamfara          627
ebonyi           534
jigawa           520
bayelsa          509
Name: location_state, dtype: int64

In [19]:
for l in data['location_state']:
    if l == 'lagos' :
        data['location_state'].replace(l,37,inplace=True)
    elif l == 'unspecified':
        data['location_state'].replace(l,36,inplace=True)
    elif l == 'ogun':
        data['location_state'].replace(l,35,inplace=True)
    elif l == 'rivers' :
        data['location_state'].replace(l,34,inplace=True)
    elif l == 'fct':
        data['location_state'].replace(l,33,inplace=True)
    elif l == 'kano' :
        data['location_state'].replace(l,32,inplace=True)
    elif l == 'delta':
        data['location_state'].replace(l,31,inplace=True)
    elif l == 'oyo':
        data['location_state'].replace(l,30,inplace=True)
    elif l == 'kaduna':
        data['location_state'].replace(l,29,inplace=True)
    elif l == 'kogi' :
        data['location_state'].replace(l,28,inplace=True)
    elif l == 'abia':
        data['location_state'].replace(l,27,inplace=True)
    elif l == 'imo' :
        data['location_state'].replace(l,26,inplace=True)
    elif l == 'anambra':
        data['location_state'].replace(l,25,inplace=True)
    else:
        data['location_state'].replace(l,0,inplace=True)
        
        
#just tried this to see if it would give a better performance

#### Ordinal Variable 
There is a clear ordering in the Customer_value variable

In [14]:
for l in data['customer_value']:
    if l == 'low' :
        data['customer_value'].replace(l,1,inplace=True)
    elif l == 'medium':
        data['customer_value'].replace(l,2,inplace=True)
    elif l == 'high' :
        data['customer_value'].replace(l,3,inplace=True)
    elif l == 'very high' :
        data['customer_value'].replace(l,4,inplace=True)
    elif l == 'top' :
        data['customer_value'].replace(l,5,inplace=True)
    else:
        data['customer_value'].replace(l,0,inplace=True)

In [17]:
data['event_type'].value_counts()

1    95268
Name: event_type, dtype: int64

In [20]:
data.columns

Index(['location_region', 'location_state', 'device_manufacturer', 'os_name',
       'spend_total', 'spend_vas', 'spend_voice', 'spend_data', 'sms_cost',
       'xtra_data_talk_rev', 'customer_class', 'customer_value', 'gender',
       'age', 'device_type', 'event_type'],
      dtype='object')

In [21]:
data

,location_region,location_state,device_manufacturer,os_name,spend_total,spend_vas,spend_voice,spend_data,sms_cost,xtra_data_talk_rev,customer_class,customer_value,gender,age,device_type,event_type
0,North West,0,infinix,android,2671.080000,0.0,1911.440000,1050.0,68.0,0.0,44.0,0,M,26.0,Smartphone,1
1,South East,0,tecno,android,5094.377000,220.0,598.400000,0.0,24.0,500.0,49.0,0,M,33.0,Smartphone,1
2,unspecified,0,tecno,android,7135.586500,0.0,0.000000,0.0,0.0,0.0,44.0,0,M,27.0,Smartphone,1
3,South West,0,asus,android,100.000000,0.0,828.833339,0.0,0.0,0.0,49.0,0,M,53.0,Smartphone,1
4,unspecified,0,tecno,android,202.450000,60.0,89.800000,0.0,0.0,0.0,44.0,0,M,51.0,Smartphone,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95263,South West,0,tecno,android,136.080000,0.0,673.800000,0.0,4.0,0.0,46.0,0,M,61.0,Smartphone,1
95264,South West,0,nokia,android,5000.355000,0.0,1519.995000,0.0,118.0,0.0,46.0,0,M,37.0,Smartphone,1
95265,South West,0,samsung,android,3494.362695,270.0,260.000000,2000.0,0.0,0.0,186.0,0,unspecified,24.0,Smartphone,1
95266,South West,0,tecno,android,5899.845000,1300.0,10293.200000,0.0,92.0,0.0,46.0,0,M,31.0,Smartphone,1
95267,South West,0,bontel,proprietary os,1464.325000,20.0,730.032500,0.0,0.0,0.0,46.0,0,M,36.0,Feature Phone,1

In [20]:
data.to_csv (r'preprocessed_data1.csv', index = False, header=True)